<div class="row pt-4 px-4 bg-light shadow mx-1">
    <div class="col-lg-12">
        <div class="row">
            <div class="col-lg-4">

                <div class="row text-primary">
                    <h1> Programming Language</h1>
                </div>
                <div class="row text-secondary">
                    <h2> C++ </h2>
                </div>
                <div class="row text-secondary">
                    <h2>Java</h2>
                </div>
                <div class="row text-secondary">
                    <h2>Python</h2>
                </div>
            </div>
            <div class="col-lg-4">

                <div class="row text-primary">
                    <h1> Tech and Frameworks</h1>
                </div>
                <div class="row text-secondary">
                    <h2> Tensorflow </h2>
                </div>
                <div class="row text-secondary">
                    <h2>Matlab</h2>
                </div>
                <div class="row text-secondary">
                    <h2>Angular</h2>
                </div>
            </div>
            <div class="col-lg-4">

                <div class="row text-primary">
                    <h1> Interests and Hobbies</h1>
                    
                </div>
                <div class="row text-secondary">
                    <h2> Machine Learning </h2>
                </div>
                <div class="row text-secondary">
                    <h2>Competative Coding</h2>
                </div>
                <div class="row text-secondary">
                    <h2>Chess</h2>
                </div>
            </div>
        </div>
        
    </div>   
</div>
